@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  color: #272727;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #272727;
  font-family: "Lato", sans-serif;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.section-padding {
  padding: 120px 0;
}
.pt-0 {
  padding-top: 0;
}
.section-title {
  width: 594px;
  height: 173px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.section-title .title {
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}

.section-title .sub-title {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Banner Styles */
.header-banner-container {
  background-color: #fceef1;
  height: 850px;
}
.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 97px;
}
.banner-text {
  width: 708px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
h2.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  line-height: normal;
}

p.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn {
  border-radius: 8px;
  border: 0;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.btn-primary {
  background: #e55473;
}
.banner-img {
  width: 635px;
  height: 800px;
  margin-top: 50px;
}
/* Featured styles */
.featured-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-img-box {
  width: 464px;
  height: 538px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 300px 300px 0px 0px;
  margin-bottom: 32px;
}
.box-1 {
  background: rgba(167, 33, 98, 0.15);
}
.box-2 {
  background: rgba(5, 151, 160, 0.15);
}
.box-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.featured-img-box img {
  width: 310px;
  height: 428px;
}
a.btn-bordered {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.services-content {
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 86px 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.service-img img {
  width: 88px;
  height: 88px;
}
p.service-text {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}
/* Offer styles */
#offer-container {
  background: rgba(229, 84, 115, 0.05);
  padding: 100px;
}
.offer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  padding: 0 110px;
}
.offer-content {
  display: flex;
  justify-content: center;
  padding: 0 110px;
  align-items: center;
}

.offer-text h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}

.offer-text h2 span {
  color: #e55473;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}

.offer-text p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 32px;
}

.offer-text {
  text-align: center;
  width: 594px;
}

.offer-img img {
  width: 318px;
  height: 420px;
}
/* Showcase styles */
.showcase-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
/* CTA styles */
.cta-content {
  /* background-image: url(); */
  background: url(../assets/rectangle-9.png) lightgray 0px -203.444px / 100% 213.755%
    no-repeat;
  background-position: center;
  background-size: cover;
  padding: 122px 287px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.cta-text h2 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.cta-text p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 48px;
}

.cta-form input[type="email"] {
  border-radius: 8px;
  background: #fff;
  padding: 22px;
  border: 0;
  width: 660px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.cta-form form {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
/* Footer styles */
footer {
  background: #111010;
  color: #ffffff;
  height: 449px;
}
.footer-content {
  width: 625px;
  margin: 0 auto;
}
h2.footer-title span {
  color: #e55473;
}

h2.footer-title {
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
}

.footer-content p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

p.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
